#SettingsDiv {
    height: 100vh;
    width: 40vw;
    
    position: absolute;
    top: 0vh;
    right: -40vw;
    
    border-radius: 1rem 0rem 0rem 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

#SettingsButton {
    height: 3rem;
    width: 3rem;

    position: absolute;
    top: calc((100vh - 3rem)/2);
    right: 0vw;

    border-radius: 2rem 0rem 0rem 2rem;
}

#SettingsButton path {
    stroke: #fff;
    stroke-width: 0.15rem;
    transform: rotate(180deg);
    transition: transform 1s;
}

#SettingsDiv,
#SettingsButton {
    transition: right 1s;
    background: #11235Ae0;
    border: none;
}

#SettingsDiv.shown {
    right: 0vw;
}

#SettingsButton.shown {
    right: 40vw;
}

#SettingsButton:hover {
    background: #596FB7c0;
}

#SettingsButton.shown path {
    transform: none;
}